
.userPage{

    .uP_userInf{
        width:100%;
        border-bottom:1px solid #f0f0f0;
        margin-bottom:10px;
        padding:10px 0;
        .uP_userPrf{
            padding:0 10px;
            margin-bottom:10px;
            .icon{
                width:22vw;
                height:22vw;
                border-radius:50%;
                background:#f8f8f8;
                margin-right:10px;
                img{
                    width:100%;
                    height:100%;
                    border-radius:50%;
                    object-fit: cover;
                }
            }
            .datas{
                width:calc(78vw - 30px);
                div{
                    width:33%;
                    text-align:center;
                    .label{
                        font-size:0.8em;
                        svg{
                            font-size:0.9em;
                            margin-bottom:1px;
                        }
                    }
                }
            }
        }
        .details{
            padding:0 10px 0 15px;
            .name{
                font-weight:bold;
                font-size:0.9em;
                line-height:1.4em;
                cursor:pointer;
                h1{
                    display:inline-block;
                    margin-right:5px;
                }
                svg{
                    color:#aaa;
                    animation: spin 10s linear infinite;
                    margin-bottom:1px;
                }
            }
            .job{
                color:#aaa;
                line-height:1.4em;
                margin-bottom:5px;
            }
            .description,.job{
                font-size:0.9em;
                line-height:1.4em;
            }
        }
    }
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

//new
.userNewContainer{
    position:relative;
    width:100vw;
    height:100vh;
    .backNav{
        position:absolute;
        top:20px;
        left:20px;
        z-index:9000;
        transform: translate3d(0, 0, 0);
        color: white;
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        cursor:pointer;
    }
    .un_inputContainer{
        width:100vw;
        height:calc(100vh - calc(300px + 5vh)); 
        padding-top:5vh;
        .un_inputContainer_wrap{
            height:calc(100% - 150px);
            padding:0 calc(15vw - 22px);
            .un_Input{
                background-color:transparent;
                border:none;
                padding:5px 20px;
                width:70vw;
                word-wrap:break-word;
                outline:none;
                -webkit-tap-highlight-color:transparent;
                height:1.5em;
                font-size:1em;
                border:1px solid #0af;
                border-radius:5000px;
            }
            .label{
                font-weight:bold;
                margin-bottom:5px;
                margin-left:10px;
            }
            p{
                padding:10px 0 0px 10px;
                font-size:0.6em;
                color:#aaa;
            }
            .last_label{
                font-weight:bold;
                margin-bottom:5px;
            }
            .resultContent{
                margin-bottom:10px;
                color:#aaa;
            }
        }
    }
    .un_nextContainer{
        height:150px;
        width:100vw;
        text-align:right;
        .label1{
            color:#aaa;
            font-size:0.6em;
            text-align:right;
            margin:0 20px 10px 0;
        }
        .nextBtn{
            display:inline-block;
            width:100px;
            padding:5px 20px;
            border:1px solid #0af;
            color:#0af;
            border-radius:5000px;
            font-size:0.9em;
            text-align:center;
            cursor:pointer;
            margin-right:25px;
        }
    }
    
}

//流線型
.popup_effect_newUser{
    animation-name:topTobottom02;
    animation-duration:2s;
    transform: scale(1);
}
@keyframes topTobottom02 {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.box {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .user_newtitle {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    z-index: 1;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
    span{
        font-size:0.7em;
        letter-spacing: .2em;
        color:white;
    }
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }


  //submitページ
.popup_effect_newUser_submit{
    animation-name:bottomTotop01;
    animation-duration:0.5s;
    transform: scale(1);
}
.un_submitPage{
    position:fixed;
    height:calc(100vh - 200px);
    padding:100px 0;
    width:100%;
    background: linear-gradient(135deg, #00aced, #00dbde);
    z-index:9999;
    .un_success_title{
        color:white;
        font-size:1.2em;
        width:100%;
        text-align:center;
        text-shadow: 0 2px 0 rgba(black, .1);
        margin-bottom:40px;
    }
    .un_success_nextBox{
        width:calc(80% - 40px);
        padding:20px 20px;
        margin:0 10%;
        background:rgba(255,255,255,0.1);
        box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
        border-radius:10px;
        text-align:center;
        margin-bottom:20px;
        .label{
            text-shadow: 0 2px 0 rgba(black, .1);
            margin-bottom:10px;
        }
        .content{
            font-size:0.8em;
            margin-bottom:10px;
        }
        .link{
            display:inline-block;
            font-size:0.8em;
            text-decoration:none;
            border:1px solid white;
            padding:7px 20px;
            border-radius:10px;
            color:white;
            text-shadow: 0 2px 0 rgba(black, .1);
        }
    }
}


@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

@keyframes bottomTotop01 {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

